# Data Preparation

The source data was provided as Excel sheets by the Inter-American Dialogue, a US-based think tank focused on fostering democratic governance, social equity, and economic prosperity in the Americas through open dialogue and collaboration. This data was used in 2021 to generate a report and [database](https://www.thedialogue.org/amazon-energy-and-mining-database/). The Amazon Mining and Energy database is a resource that compiles information on mining and energy projects in the Amazon region, aiming to provide insights into their environmental, social, and economic impacts.

In [16]:
# Load libraries
import os
import string
import unidecode
import random
import json

import pandas as pd
import geopandas as gpd
import plotly.express as px

import warnings
from IPython.core.interactiveshell import InteractiveShell

In [2]:
# Notebook configurations
warnings.filterwarnings('ignore')
pd.set_option('display.max.columns', None)
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
# Functions for use across notebook

def generate_random_id(length, id_col):
    characters = string.ascii_letters.lower() + string.digits 
    original_id = False

    while original_id is False:
        new_id = ''.join(random.choice(characters) for _ in range(length))
        if new_id not in id_col:
            original_id = True
            break
    
    return new_id

# Format string data to follow a uniform format
def normalize_text_list(text_list: list, to_replace: str = "", replace_with: str = "", remove: list or str = ""):
    return list(
        map(
            lambda x: unidecode.unidecode(str(x).translate(str(x).maketrans(to_replace, replace_with, remove))).lower().strip().strip("_"), text_list
        )
    )

# Save dataframe as a CSV
def save_df_as_csv(df, file_path):
    try:
        os.makedirs(file_path.rsplit("/", 1)[0], exist_ok=True)
        df.to_csv(file_path, index=False)
    except:
        raise

## I. Convert source files to Pandas DataFrames

In [4]:
# Load the original source files
project_path = "../data/source/consolidated_amazon_projects_data.xlsx"
project_coords = "../data/source/project_coordinates_amazon_energy_and_mining.xlsx"

# Load a JSON mapping each subsidiary name to the company they belong to
owner_map_json = '../data/reference/owner_map.json'

In [5]:
mining_df = pd.read_excel(project_path, sheet_name="Mining")
oil_df = pd.read_excel(project_path, sheet_name="Oil & Gas")
hydro_df = pd.read_excel(project_path, sheet_name="Hydropower")

In [6]:
# Get the column names (headers) as sets for each DataFrame
hydro_columns = set(hydro_df.columns)
mining_columns = set(mining_df.columns)
oil_columns = set(oil_df.columns)

# Find the differences between the column sets
different_columns = {
    'hydro': hydro_columns - (mining_columns | oil_columns),
    'mining': mining_columns - (hydro_columns | oil_columns),
    'oil': oil_columns - (hydro_columns | mining_columns)
}

# Display the different column names for each DataFrame
for df_name, diff_columns in different_columns.items():
    if diff_columns:
        print(f"Different columns in {df_name}_df: {diff_columns}")
    else:
        print(f"No different columns in {df_name}_df")

Different columns in hydro_df: {'Installed Capacity (MW)'}
Different columns in mining_df: {'Substance(s)', 'Deal Type'}
No different columns in oil_df

__Note:__ Important to take into consideration the columns that are unique to each product type.

In [7]:
# Concatenate the DataFrames into a single DataFrame
df = pd.concat([hydro_df, oil_df, mining_df], ignore_index=True)

## II. Clean and correct mismatched data

### a. Format columns

In [8]:
# Normalize column headers 
df.columns = normalize_text_list(df.columns.values, " ", "_", ''.join([s for s in string.punctuation if s != "_"]))

# Normalize all text data
norm_cols = [col for (col, dtype) in df.dtypes.items() if dtype == "object"]

In [9]:
# Fix issue with duplicate 'deal_type' columns

df['deal_structure'] = df['deal_type'].iloc[:, 0] 
df['deal_mining'] = df['deal_type'].iloc[:, 1]

df = df.drop(columns=['deal_type'])
df.head()

,project_name,sector_type,country,installed_capacity_mw,operational_status,owner,equity_stake_owner,equity_stake_operator,country_of_company_hq,company_type,company_type_for_label,is_operator,lender_type,substances,deal_structure,deal_mining
0,Ambrosia,Hydropower,Bolivia,84.9,Permitting,Empresa Eléctrica Corani,1.0,1.0,Bolivia,SOE,State-owned Enterprise,Yes,Multilateral Development Bank,NaN,Greenfield,NaN
1,Banda Azul,Hydropower,Bolivia,146.0,Permitting,Empresa Eléctrica Corani,1.0,1.0,Bolivia,SOE,State-owned Enterprise,Yes,Foreign Development Bank/Fund,NaN,Greenfield,NaN
2,Chojlla,Hydropower,Bolivia,37.0,In Operation,Hidroeléctrica Boliviana,1.0,1.0,Bolivia,Local Power Company,Local Power Company,Yes,NaN,NaN,Greenfield,NaN
3,Corani,Hydropower,Bolivia,54.0,In Operation,Empresa Eléctrica Corani,1.0,1.0,Bolivia,SOE,State-owned Enterprise,Yes,Multilateral Development Bank,NaN,Greenfield,NaN
4,Ivirizu,Hydropower,Bolivia,279.8,Under Construction,Ende Valle Hermoso,1.0,0.0,Bolivia,SOE,State-owned Enterprise,No,NaN,NaN,Greenfield,NaN

In [10]:
# Create a new column 'deal_difference' to indicate differences
df['deal_difference'] = df['deal_structure'] != df['deal_mining']

# Show which sectors have differences
set(df[df['deal_difference'] == True]['sector_type'])

{'Hydropower', 'Mining', 'Oil & Gas'}

In [11]:
# Create a mask for rows where 'sector_type' equals 'mining'
mining_mask = df['sector_type'] == 'Mining'

# Use the mask to update the 'deal_structure' column
df.loc[mining_mask, 'deal_structure'] = df.loc[mining_mask, 'deal_mining']

df.tail()

,project_name,sector_type,country,installed_capacity_mw,operational_status,owner,equity_stake_owner,equity_stake_operator,country_of_company_hq,company_type,company_type_for_label,is_operator,lender_type,substances,deal_structure,deal_mining,deal_difference
549,Vermelho,Mining,Brazil,NaN,NaN,Horizonte Minerals,1.0,1.0,UK,Junior Exploration,Junior Exploration,Yes,NaN,"Cobalt, Nickel",Full Asset Transaction,Full Asset Transaction,True
550,Veta Islay,Mining,Peru,NaN,NaN,Compañía Minera Volcan,1.0,1.0,Peru,Junior Exploration,Junior Exploration,Yes,NaN,"Copper, Lead, Silver, Zinc",Greenfield,Greenfield,True
551,Volta Grande,Mining,Brazil,NaN,NaN,Belo Sun Mining,1.0,1.0,Canada,Small to Mid-tier Producer,Small to Mid-tier Producer,Yes,"Investment Bank, Commercial Bank, Holding Comp...",Gold,Greenfield,Greenfield,True
552,Warintza,Mining,Ecuador,NaN,NaN,Solaris Resources,1.0,1.0,Canada,Junior Exploration,Junior Exploration,Yes,NaN,"Copper, Molybdenum",Merger/Acquisition,Merger/Acquisition,True
553,Wynamu,Mining,Guyana,NaN,NaN,Guyana Goldfields,1.0,1.0,China,SOE,State-owned Enterprise,Yes,NaN,Gold,Greenfield,Greenfield,True

In [12]:
# Drop the duplicate column and change name of deal_structure back to deal_type
df = df.drop(columns=["deal_mining","deal_difference"])
df.rename(columns={"deal_structure":"deal_type"}, inplace=True)

df.tail()

,project_name,sector_type,country,installed_capacity_mw,operational_status,owner,equity_stake_owner,equity_stake_operator,country_of_company_hq,company_type,company_type_for_label,is_operator,lender_type,substances,deal_type
549,Vermelho,Mining,Brazil,NaN,NaN,Horizonte Minerals,1.0,1.0,UK,Junior Exploration,Junior Exploration,Yes,NaN,"Cobalt, Nickel",Full Asset Transaction
550,Veta Islay,Mining,Peru,NaN,NaN,Compañía Minera Volcan,1.0,1.0,Peru,Junior Exploration,Junior Exploration,Yes,NaN,"Copper, Lead, Silver, Zinc",Greenfield
551,Volta Grande,Mining,Brazil,NaN,NaN,Belo Sun Mining,1.0,1.0,Canada,Small to Mid-tier Producer,Small to Mid-tier Producer,Yes,"Investment Bank, Commercial Bank, Holding Comp...",Gold,Greenfield
552,Warintza,Mining,Ecuador,NaN,NaN,Solaris Resources,1.0,1.0,Canada,Junior Exploration,Junior Exploration,Yes,NaN,"Copper, Molybdenum",Merger/Acquisition
553,Wynamu,Mining,Guyana,NaN,NaN,Guyana Goldfields,1.0,1.0,China,SOE,State-owned Enterprise,Yes,NaN,Gold,Greenfield

In [13]:
# Normalize text data in dataframe
for col in norm_cols:
    df[col] = normalize_text_list(df[col], " ", "_", ''.join([s for s in string.punctuation if s != "_"]))

df.head()

,project_name,sector_type,country,installed_capacity_mw,operational_status,owner,equity_stake_owner,equity_stake_operator,country_of_company_hq,company_type,company_type_for_label,is_operator,lender_type,substances,deal_type
0,ambrosia,hydropower,bolivia,84.9,permitting,empresa_electrica_corani,1.0,1.0,bolivia,soe,stateowned_enterprise,yes,multilateral_development_bank,nan,greenfield
1,banda_azul,hydropower,bolivia,146.0,permitting,empresa_electrica_corani,1.0,1.0,bolivia,soe,stateowned_enterprise,yes,foreign_development_bankfund,nan,greenfield
2,chojlla,hydropower,bolivia,37.0,in_operation,hidroelectrica_boliviana,1.0,1.0,bolivia,local_power_company,local_power_company,yes,nan,nan,greenfield
3,corani,hydropower,bolivia,54.0,in_operation,empresa_electrica_corani,1.0,1.0,bolivia,soe,stateowned_enterprise,yes,multilateral_development_bank,nan,greenfield
4,ivirizu,hydropower,bolivia,279.8,under_construction,ende_valle_hermoso,1.0,0.0,bolivia,soe,stateowned_enterprise,no,nan,nan,greenfield

In [14]:
print(df.info(show_counts=True))
print("===========Null Values=============="*3)
print(df.isna().sum())
print("============Unique Values============="*3)
print(df.nunique())
print("========================="*3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   project_name            554 non-null    object
 1   sector_type             554 non-null    object
 2   country                 554 non-null    object
 3   installed_capacity_mw   100 non-null    float64
 4   operational_status      554 non-null    object
 5   owner                   554 non-null    object
 6   equity_stake_owner      554 non-null    float64
 7   equity_stake_operator   554 non-null    float64
 8   country_of_company_hq   554 non-null    object
 9   company_type            554 non-null    object
 10  company_type_for_label  554 non-null    object
 11  is_operator             554 non-null    object
 12  lender_type             554 non-null    object
 13  substances              554 non-null    object
 14  deal_type               554 non-null    object
dtypes: float64(3), object(12)
memory usage: 65.0+ KB
None
===========Null Values=========================Null Values=========================Null Values==============
project_name                0
sector_type                 0
country                     0
installed_capacity_mw     454
operational_status          0
owner                       0
equity_stake_owner          0
equity_stake_operator       0
country_of_company_hq       0
company_type                0
company_type_for_label      0
is_operator                 0
lender_type                 0
substances                  0
deal_type                   0
dtype: int64
============Unique Values=========================Unique Values=========================Unique Values=============
project_name              416
sector_type                 3
country                     9
installed_capacity_mw      67
operational_status          7
owner                     278
equity_stake_owner         47
equity_stake_operator      30
country_of_company_hq      35
company_type               11
company_type_for_label     11
is_operator                 3
lender_type                31
substances                 32
deal_type                   4
dtype: int64
===========================================================================

### b. Correct company names

This had to be a manual effort, checking each company and doing some research online to identify which companies operate under different names or use multiple subsidiaries.

In [18]:
# Open the JSON file with company mapping
with open(owner_map_json, 'r') as jf:
    owner_mapping_dict = json.load(jf)

# Check the structure
print(json.dumps(owner_mapping_dict, indent=4))

{
    "amazonia_energia": [
        "amazonia_energia_sa",
        "caixa_fundo_de_investimentos_em_participacoes_amazonia_energia"
    ],
    "goldmining": [
        "gold_x_mining_corp"
    ],
    "perenco": [
        "perenco_peru_petroleum",
        "perenco_venezuela_petroleo_y_gas"
    ],
    "orion": [
        "orionoil_er_sa",
        "orion_energy_ocanopb"
    ],
    "amerisur": [
        "amerisur_resources",
        "amerisur_exploracion_colombia"
    ],
    "gran_tierra_energy": [
        "gran_tierra_energy_colombia"
    ],
    "repsol": [
        "repsol_ecuador",
        "repsol_ep_bolivia",
        "repsol_exploracion_guyana"
    ],
    "odebrecht": [
        "odebrecht_energia_do_brasil",
        "odebrecht_energia_sa"
    ],
    "engie": [
        "engie_energia_peru"
    ],
    "rio_tinto": [
        "rio_tinto_minera_peru_limitada"
    ],
    "geopark": [
        "geopark_colombia",
        "geopark_peru"
    ],
    "staatsolie": [
        "staatsolie_maatschappij_suriname_staatsolie",
        "staatsolie_power_company_suriname"
    ],
    "eletrobras": [
        "centrais_eletricas_brasileiras_eletrobras",
        "centrais_eletricas_do_norte_do_brasil_eletrobas_eletronorte",
        "furnas_centrais_eletricas_eletrobras_furnas"
    ],
    "pluspetrol": [
        "pluspetrol_bolivia_corporation",
        "pluspetrol_ecuador",
        "pluspetrol_resources_corp"
    ],
    "frontera_energy": [
        "frontera_energy_colombia"
    ],
    "tecpetrol": [
        "tecpetrol_colombia",
        "tecpetrol_bloque_56"
    ],
    "hunt_oil_company": [
        "hunt_oil_company_of_peru"
    ],
    "companhia_hidroeletrica_do_sao_francisco": [
        "companhia_hidreletrica_do_sao_francisco"
    ],
    "meridian_mining": [
        "meridian_mineracao_jaburi"
    ],
    "cvg": [
        "corporacion_venezolana_de_guayana_cvg",
        "corporacion_venezolana_de_guayana_minerven",
        "electrificacion_del_caroni"
    ],
    "ypf": [
        "ypf_bolivia",
        "ypf_ep_peru"
    ],
    "ypfb": [
        "ypfb_andina_repsol__ypfb",
        "ypfb_andina_repsol__ypfb__isnt_this_bolivia_noc",
        "ypfb_chaco"
    ],
    "canacol_energy": [
        "canacol_energy_colombia"
    ],
    "enel": [
        "enel_generacion_piura",
        "enel_green_power_brasil_participacoes"
    ],
    "avanco_resources": [
        "avb_mineracao"
    ],
    "cepsa": [
        "cepsa_colombia",
        "compania_espanola_de_petroleos_cespa"
    ],
    "edf": [
        "edf_norte_fluminense"
    ],
    "edp": [
        "edp_brasil"
    ],
    "eletrosul": [
        "eletrosul_centrais_eletricas_eletrosul"
    ],
    "corporacion_fonafe": [
        "empresa_de_generacion_electrica_san_gaban",
        "empresa_de_generacion_electrica_machupicchu",
        "petroleos_del_peru_petroperu",
        "empresa_electricidad_del_peru_electroperu"
    ],
    "ende": [
        "empresa_electrica_corani",
        "empresa_nacional_de_electricidad_ende",
        "ende_valle_hermoso"
    ],
    "crs_resources": [
        "crs_resources_ecuador"
    ],
    "sonatrach": [
        "sonatrach_peru_corporation"
    ],
    "talisman": [
        "talisman_colombia_oil_gas"
    ],
    "vintage_petroleum": [
        "vintage_petroleum_boliviana"
    ],
    "vale": [
        "vale_e_cemig"
    ]
}

In [19]:
valid_list = []

# Loop through the values in the dictionary and extend the combined_list
for val in owner_mapping_dict.values():
    valid_list.extend(val)

In [20]:
# Extract unique values from 'owner' column that are not in valid_list
unique_owners = df['owner'].unique()
filtered_owners = [owner for owner in unique_owners if owner not in valid_list]

# Sort the filtered owners alphabetically
filtered_owners.sort()

# Print the filtered and sorted owners
for owner in filtered_owners:
    print(owner)

aguaytia_energy_del_peru
alcoa_corporation
alicanto_minerals
alta_floresta_gold_mineracao
altamira_gold
alupar_investimento
amazonas_geracao_e_transmissao_de_energia
amodaimi_oil_co
andes_petroleum_ecuador
anglo_american
apoio_engenharia_e_mineracao
ariana_operaciones_mineras
arrow_exploration_corp
auplata_mining_group
aura_minerals
aurania_resources
avanco_resources
barrick_gold
bbx_minerals
belo_sun_mining
bhp_group
boa_vista_gold
brazauro_recursos_minerais
cabral_gold
campo_puma_oriente
canacol_energy
canadian_energy_enterprises_cee_srl
capstone_mining
cementos_selva
cemig_geracao_e_transmissao
centaurus_metals
central_hidroelectrica_huallaga_hydro
centromin_peru
cerro_del_aguila_sa
china_gezhouba_group
china_national_petroleum_corporation_cnpc
china_three_gorges_corporation
chinango_sac
cinco_estrelas_agropecuaria_e_participacoes
citic_metal_co_ltd
codelco_do_brasil_mineracao
colossus_minerals
columbus_energy_resources
compagnie_miniere_esperance
companhia_brasileira_de_aluminio
companhia_hidroeletrica_do_sao_francisco
companhia_paranaense_de_energia_sa
compania_boliviana_de_energia_electrica
compania_energetica_veracruz
compania_minera_volcan
compania_sudamericana_de_fosforos_del_ecuador_fosforocomp
cooperativa_de_garimpeiros_de_santa_cruz
cooperativa_de_mineracao_dos_garimpeiros_de_serra_pelada
cooperativa_metalurgica_de_rondonia_ltda
corporacion_electrica_del_ecuador_celec_ep
corporacion_venezolana_de_mineria_cvm
corporacion_venezolana_del_petroleo_cvp
cosigo_resources
cruz_del_sol
ct_energy_holding
decker_petroleum_marketing
dong_won_corporation
ecuacorriente
ecuaenergia
egejunin_tulumayo_v_sac
eletrogoes_sa
elienergy
emerald_energy
empresa_colombiana_de_petroleos_ecopetrol
empresa_de_generacion_electrica_ccollpani
empresa_electrica_regional_del_sur
empresa_estatal_unitaria_union_de_empresas_productoras_belorusneft
enap_sipetrol
energia_azul
energoret_sac
eneva
engie
eni_lasmo_plc
entidades_de_previdencia_complementar
eop_operaciones_petroleras
equinox_gold
equion_energia
explorcobres
falcao_mineradora
first_bauxite
frontera_energy
g2_goldfields
gazprom
generadora_de_energia_del_peru
gente_oil_ecuador_pte_ltd
geopark
gold_reserve
goldmining
goldsource_mines
gran_tierra_energy
great_panther_mining_limited
greenpower_energy_limited
guoxin_international_investment_co
guyana_goldfields
guyana_strategic_metals
hannan_metals
harvest_gold
hidroabanico
hidroelectrica_boliviana
hidrosanbartolo_sa
hocol_sa
horizonte_minerals
hupecol_operating_co
hydro_global_peru_ctg_and_edp
iamgold
instituto_de_seguridad_social_de_las_fuerzas_armadas
itamarati_norte
jmalucelli_energia
joshi_technologies_international
kilroy_mining
korea_electric_power_corp
korea_national_oil_corporation
lara_exploration
lewis_energy_colombia
libero_copper
lucky_minerals
luminex_resources
lundin_gold
luz_del_sur
macusani_yellowcake
matpetrol
meridian_mining
meteoric_resources
minera_irl
mineracao_aurizona
mineracao_dardanelos
mineracao_do_para
mineracao_iraja_sa
mineracao_santa_elina_industria_e_comercio
minsur
mitsui__co
mmg_limited
mompos_oil_company_inc
neoenergia
newmont_corporation
nordgold
normantrust_group
norsk_hydro
nueva_esperanza_hydro
occidental_andina_llc
occidental_petroleum_corporation
odebrecht
on_energy_inc
orea_mining
origen_group
ouro_preto_oleo_e_gas
overseas_petroleum_and_investment_corporation
palamina
parnaiba_gas_natural
pdvsa
perenco
peruana_de_energia
petro_caribbean_resources
petroamazonas_ep
petrobell_incgrantmining_sa
petrochina
petrogal_brasil
petroleo_brasileiro_petrobras
petroleos_sudamericanos_del_ecuador_petrolamerec
petrominerales_colombia
petrooriental
petroriva
petrotal
pluspetrol
posco_international
pvep_peru
queiroz_galvao_energetica
quimpac
reliance_exploration__production_peru
repsol
reunion_gold
rial_minera
rio_blanco_copper
rio_tinto
romanex_guyana_exploration
rosneft_brasil_ep
saag_investimentos
serabi_gold
shona_energy_colombia
sinohydro_corporation
sk_innovation
societe_des_mines_de_saintelie
societe_miniere_yaoudorlin
solaris_resources
solgold
solitario_exploration
soma_gold
south32
statkraft
steinmar
stonegate_agricom
stratagold_guyana
stronghold_guyana
suroco_energy
talisman_colombia_oil__gas
tangara_energia
tempus_resources_limited
tessarema_resources_inc
the_simulus_group
triboilgas
tristar_gold
troy_resources
u3o8_corporation
union_miniere_de_saul
universal_stream
vale
vetra_exploracion_y_produccion
votorantim_metais
wbd_gold
winshear_gold
ypfb
zinc_one_resources

### c. Add new columns

All duplicates were accounted for; two columns `parent_org` and `pid` (project ID) are created to show the hierarchy between projects and have an easier way of interacting with them.

In [21]:
parent_list = []

for row, data in df.iterrows():
    #print(row, data['owner'])
    if data['owner'] in owner_mapping_dict.keys():
            parent_list.append((row, data['owner']))
    elif data['owner'] in valid_list:
        for key, val in owner_mapping_dict.items():
            if data['owner'] in val:
                parent_list.append((row, key))
    else:
        parent_list.append((row, data['owner'] ))

print(parent_list)

[(0, 'ende'), (1, 'ende'), (2, 'hidroelectrica_boliviana'), (3, 'ende'), (4, 'ende'), (5, 'ende'), (6, 'ende'), (7, 'ende'), (8, 'ende'), (9, 'ende'), (10, 'hidroelectrica_boliviana'), (11, 'amazonas_geracao_e_transmissao_de_energia'), (12, 'odebrecht'), (13, 'amazonia_energia'), (14, 'eletrobras'), (15, 'entidades_de_previdencia_complementar'), (16, 'jmalucelli_energia'), (17, 'vale'), (18, 'companhia_paranaense_de_energia_sa'), (19, 'eletrobras'), (20, 'eletrobras'), (21, 'companhia_hidroeletrica_do_sao_francisco'), (22, 'mineracao_santa_elina_industria_e_comercio'), (23, 'cinco_estrelas_agropecuaria_e_participacoes'), (24, 'queiroz_galvao_energetica'), (25, 'companhia_hidroeletrica_do_sao_francisco'), (26, 'eletrosul'), (27, 'itamarati_norte'), (28, 'eletrobras'), (29, 'amazonia_energia'), (30, 'cemig_geracao_e_transmissao'), (31, 'eletrobras'), (32, 'odebrecht'), (33, 'saag_investimentos'), (34, 'eletrobras'), (35, 'eletrosul'), (36, 'eletrobras'), (37, 'odebrecht'), (38, 'eletrobras'), (39, 'alupar_investimento'), (40, 'eletrobras'), (41, 'companhia_hidroeletrica_do_sao_francisco'), (42, 'tangara_energia'), (43, 'china_three_gorges_corporation'), (44, 'china_three_gorges_corporation'), (45, 'sinohydro_corporation'), (46, 'hydro_global_peru_ctg_and_edp'), (47, 'china_gezhouba_group'), (48, 'luz_del_sur'), (49, 'china_three_gorges_corporation'), (50, 'china_three_gorges_corporation'), (51, 'universal_stream'), (52, 'hidroabanico'), (53, 'corporacion_electrica_del_ecuador_celec_ep'), (54, 'corporacion_electrica_del_ecuador_celec_ep'), (55, 'empresa_electrica_regional_del_sur'), (56, 'ecuaenergia'), (57, 'normantrust_group'), (58, 'corporacion_electrica_del_ecuador_celec_ep'), (59, 'elienergy'), (60, 'hidrosanbartolo_sa'), (61, 'edf'), (62, 'engie'), (63, 'engie'), (64, 'eletrogoes_sa'), (65, 'chinango_sac'), (66, 'enel'), (67, 'enel'), (68, 'compania_energetica_veracruz'), (69, 'chinango_sac'), (70, 'mitsui__co'), (71, 'statkraft'), (72, 'statkraft'), (73, 'generadora_de_energia_del_peru'), (74, 'empresa_de_generacion_electrica_ccollpani'), (75, 'cerro_del_aguila_sa'), (76, 'compania_boliviana_de_energia_electrica'), (77, 'peruana_de_energia'), (78, 'corporacion_fonafe'), (79, 'corporacion_fonafe'), (80, 'corporacion_fonafe'), (81, 'corporacion_fonafe'), (82, 'energoret_sac'), (83, 'egejunin_tulumayo_v_sac'), (84, 'centromin_peru'), (85, 'energia_azul'), (86, 'edp'), (87, 'hydro_global_peru_ctg_and_edp'), (88, 'edp'), (89, 'edp'), (90, 'korea_electric_power_corp'), (91, 'neoenergia'), (92, 'central_hidroelectrica_huallaga_hydro'), (93, 'neoenergia'), (94, 'neoenergia'), (95, 'staatsolie'), (96, 'nueva_esperanza_hydro'), (97, 'cvg'), (98, 'cvg'), (99, 'cvg'), (100, 'sonatrach'), (101, 'sonatrach'), (102, 'pluspetrol'), (103, 'pluspetrol'), (104, 'tecpetrol'), (105, 'petroriva'), (106, 'petroriva'), (107, 'pluspetrol'), (108, 'tecpetrol'), (109, 'ypf'), (110, 'ypf'), (111, 'ypf'), (112, 'tecpetrol'), (113, 'pluspetrol'), (114, 'pluspetrol'), (115, 'pluspetrol'), (116, 'pluspetrol'), (117, 'pluspetrol'), (118, 'empresa_estatal_unitaria_union_de_empresas_productoras_belorusneft'), (119, 'ypfb'), (120, 'ypfb'), (121, 'ypfb'), (122, 'ypfb'), (123, 'ypfb'), (124, 'ypfb'), (125, 'ypfb'), (126, 'ypfb'), (127, 'ypfb'), (128, 'ypfb'), (129, 'ypfb'), (130, 'ypfb'), (131, 'ypfb'), (132, 'ypfb'), (133, 'ypfb'), (134, 'ypfb'), (135, 'ypfb'), (136, 'ypfb'), (137, 'ypfb'), (138, 'ypfb'), (139, 'ypfb'), (140, 'ypfb'), (141, 'ypfb'), (142, 'ypfb'), (143, 'ypfb'), (144, 'ypfb'), (145, 'ypfb'), (146, 'ypfb'), (147, 'ypfb'), (148, 'ypfb'), (149, 'ypfb'), (150, 'ypfb'), (151, 'ypfb'), (152, 'ypfb'), (153, 'ypfb'), (154, 'ypfb'), (155, 'ypfb'), (156, 'ypfb'), (157, 'ypfb'), (158, 'ypfb'), (159, 'ypfb'), (160, 'ypfb'), (161, 'ypfb'), (162, 'ypfb'), (163, 'ypfb'), (164, 'matpetrol'), (165, 'ypfb'), (166, 'canadian_energy_enterprises_cee_srl'), (167, 'ypfb'), (168, 'ypfb'), (169, 'petroleo_brasileiro_petrobras'), (170, 'petroleo_brasileiro_petrobras'), (171, 'parnaiba_gas_natural'), (172, 'petroleo_brasileiro_petrobras'), (173, 'petroleo_brasileiro_petrobras'), (174, 'petroleo_brasileiro_petrobras'), (175, 'eneva'), (176, 'petroleo_brasileiro_petrobras'), (177, 'petroleo_brasileiro_petrobras'), (178, 'eneva'), (179, 'eneva'), (180, 'eneva'), (181, 'ouro_preto_oleo_e_gas'), (182, 'eneva'), (183, 'petroleo_brasileiro_petrobras'), (184, 'petroleo_brasileiro_petrobras'), (185, 'petroleo_brasileiro_petrobras'), (186, 'canacol_energy'), (187, 'gran_tierra_energy'), (188, 'gran_tierra_energy'), (189, 'on_energy_inc'), (190, 'frontera_energy'), (191, 'gran_tierra_energy'), (192, 'gran_tierra_energy'), (193, 'frontera_energy'), (194, 'gran_tierra_energy'), (195, 'frontera_energy'), (196, 'frontera_energy'), (197, 'gran_tierra_energy'), (198, 'frontera_energy'), (199, 'gran_tierra_energy'), (200, 'gran_tierra_energy'), (201, 'arrow_exploration_corp'), (202, 'frontera_energy'), (203, 'canacol_energy'), (204, 'frontera_energy'), (205, 'gran_tierra_energy'), (206, 'gran_tierra_energy'), (207, 'gran_tierra_energy'), (208, 'gran_tierra_energy'), (209, 'gran_tierra_energy'), (210, 'gran_tierra_energy'), (211, 'gran_tierra_energy'), (212, 'gran_tierra_energy'), (213, 'gran_tierra_energy'), (214, 'gran_tierra_energy'), (215, 'gran_tierra_energy'), (216, 'petrominerales_colombia'), (217, 'shona_energy_colombia'), (218, 'gran_tierra_energy'), (219, 'suroco_energy'), (220, 'frontera_energy'), (221, 'gran_tierra_energy'), (222, 'geopark'), (223, 'eop_operaciones_petroleras'), (224, 'enap_sipetrol'), (225, 'enap_sipetrol'), (226, 'geopark'), (227, 'geopark'), (228, 'geopark'), (229, 'geopark'), (230, 'geopark'), (231, 'geopark'), (232, 'geopark'), (233, 'amerisur'), (234, 'amerisur'), (235, 'geopark'), (236, 'amerisur'), (237, 'amerisur'), (238, 'amerisur'), (239, 'amerisur'), (240, 'amerisur'), (241, 'amerisur'), (242, 'amerisur'), (243, 'petrooriental'), (244, 'amodaimi_oil_co'), (245, 'crs_resources'), (246, 'petrooriental'), (247, 'petrochina'), (248, 'china_national_petroleum_corporation_cnpc'), (249, 'andes_petroleum_ecuador'), (250, 'andes_petroleum_ecuador'), (251, 'china_national_petroleum_corporation_cnpc'), (252, 'andes_petroleum_ecuador'), (253, 'emerald_energy'), (254, 'emerald_energy'), (255, 'emerald_energy'), (256, 'emerald_energy'), (257, 'emerald_energy'), (258, 'vetra_exploracion_y_produccion'), (259, 'empresa_colombiana_de_petroleos_ecopetrol'), (260, 'empresa_colombiana_de_petroleos_ecopetrol'), (261, 'empresa_colombiana_de_petroleos_ecopetrol'), (262, 'hocol_sa'), (263, 'hocol_sa'), (264, 'empresa_colombiana_de_petroleos_ecopetrol'), (265, 'empresa_colombiana_de_petroleos_ecopetrol'), (266, 'hupecol_operating_co'), (267, 'empresa_colombiana_de_petroleos_ecopetrol'), (268, 'empresa_colombiana_de_petroleos_ecopetrol'), (269, 'empresa_colombiana_de_petroleos_ecopetrol'), (270, 'hocol_sa'), (271, 'empresa_colombiana_de_petroleos_ecopetrol'), (272, 'petro_caribbean_resources'), (273, 'equion_energia'), (274, 'empresa_colombiana_de_petroleos_ecopetrol'), (275, 'empresa_colombiana_de_petroleos_ecopetrol'), (276, 'empresa_colombiana_de_petroleos_ecopetrol'), (277, 'empresa_colombiana_de_petroleos_ecopetrol'), (278, 'vetra_exploracion_y_produccion'), (279, 'empresa_colombiana_de_petroleos_ecopetrol'), (280, 'mompos_oil_company_inc'), (281, 'petroamazonas_ep'), (282, 'petroamazonas_ep'), (283, 'petroamazonas_ep'), (284, 'petroamazonas_ep'), (285, 'petroamazonas_ep'), (286, 'petroamazonas_ep'), (287, 'petroamazonas_ep'), (288, 'petroamazonas_ep'), (289, 'petroamazonas_ep'), (290, 'campo_puma_oriente'), (291, 'petroamazonas_ep'), (292, 'petroamazonas_ep'), (293, 'petroamazonas_ep'), (294, 'petroamazonas_ep'), (295, 'petroamazonas_ep'), (296, 'petroamazonas_ep'), (297, 'petroamazonas_ep'), (298, 'triboilgas'), (299, 'petroamazonas_ep'), (300, 'petroamazonas_ep'), (301, 'compania_sudamericana_de_fosforos_del_ecuador_fosforocomp'), (302, 'petroleos_sudamericanos_del_ecuador_petrolamerec'), (303, 'compania_sudamericana_de_fosforos_del_ecuador_fosforocomp'), (304, 'petroleos_sudamericanos_del_ecuador_petrolamerec'), (305, 'petrobell_incgrantmining_sa'), (306, 'petroamazonas_ep'), (307, 'petroamazonas_ep'), (308, 'petroamazonas_ep'), (309, 'petroleos_sudamericanos_del_ecuador_petrolamerec'), (310, 'petroleos_sudamericanos_del_ecuador_petrolamerec'), (311, 'reliance_exploration__production_peru'), (312, 'eni_lasmo_plc'), (313, 'aguaytia_energy_del_peru'), (314, 'pvep_peru'), (315, 'sk_innovation'), (316, 'corporacion_fonafe'), (317, 'sk_innovation'), (318, 'sk_innovation'), (319, 'petrogal_brasil'), (320, 'gazprom'), (321, 'rosneft_brasil_ep'), (322, 'rosneft_brasil_ep'), (323, 'rosneft_brasil_ep'), (324, 'rosneft_brasil_ep'), (325, 'rosneft_brasil_ep'), (326, 'rosneft_brasil_ep'), (327, 'rosneft_brasil_ep'), (328, 'rosneft_brasil_ep'), (329, 'rosneft_brasil_ep'), (330, 'rosneft_brasil_ep'), (331, 'rosneft_brasil_ep'), (332, 'rosneft_brasil_ep'), (333, 'rosneft_brasil_ep'), (334, 'orion'), (335, 'gente_oil_ecuador_pte_ltd'), (336, 'orion'), (337, 'korea_national_oil_corporation'), (338, 'posco_international'), (339, 'dong_won_corporation'), (340, 'ypfb'), (341, 'ypfb'), (342, 'ypfb'), (343, 'repsol'), (344, 'cepsa'), (345, 'repsol'), (346, 'repsol'), (347, 'repsol'), (348, 'repsol'), (349, 'repsol'), (350, 'repsol'), (351, 'ypfb'), (352, 'repsol'), (353, 'talisman_colombia_oil__gas'), (354, 'repsol'), (355, 'ypfb'), (356, 'ypfb'), (357, 'ypfb'), (358, 'ypfb'), (359, 'ypfb'), (360, 'talisman_colombia_oil__gas'), (361, 'cepsa'), (362, 'ypfb'), (363, 'ypfb'), (364, 'ypfb'), (365, 'repsol'), (366, 'ypfb'), (367, 'ypfb'), (368, 'ypfb'), (369, 'ypfb'), (370, 'cepsa'), (371, 'ypfb'), (372, 'ypfb'), (373, 'repsol'), (374, 'repsol'), (375, 'ypfb'), (376, 'ypfb'), (377, 'staatsolie'), (378, 'staatsolie'), (379, 'staatsolie'), (380, 'overseas_petroleum_and_investment_corporation'), (381, 'overseas_petroleum_and_investment_corporation'), (382, 'pluspetrol'), (383, 'decker_petroleum_marketing'), (384, 'perenco'), (385, 'perenco'), (386, 'perenco'), (387, 'columbus_energy_resources'), (388, 'petrotal'), (389, 'joshi_technologies_international'), (390, 'hunt_oil_company'), (391, 'hunt_oil_company'), (392, 'petrotal'), (393, 'occidental_andina_llc'), (394, 'vintage_petroleum'), (395, 'lewis_energy_colombia'), (396, 'occidental_petroleum_corporation'), (397, 'pdvsa'), (398, 'corporacion_venezolana_del_petroleo_cvp'), (399, 'ct_energy_holding'), (400, 'corporacion_venezolana_del_petroleo_cvp'), (401, 'corporacion_venezolana_del_petroleo_cvp'), (402, 'avanco_resources'), (403, 'altamira_gold'), (404, 'horizonte_minerals'), (405, 'horizonte_minerals'), (406, 'alicanto_minerals'), (407, 'barrick_gold'), (408, 'reunion_gold'), (409, 'ariana_operaciones_mineras'), (410, 'mineracao_dardanelos'), (411, 'mineracao_aurizona'), (412, 'guyana_goldfields'), (413, 'minsur'), (414, 'goldmining'), (415, 'palamina'), (416, 'goldsource_mines'), (417, 'kilroy_mining'), (418, 'boa_vista_gold'), (419, 'cooperativa_de_garimpeiros_de_santa_cruz'), (420, 'cooperativa_metalurgica_de_rondonia_ltda'), (421, 'meridian_mining'), (422, 'auplata_mining_group'), (423, 'newmont_corporation'), (424, 'first_bauxite'), (425, 'zinc_one_resources'), (426, 'reunion_gold'), (427, 'alta_floresta_gold_mineracao'), (428, 'tristar_gold'), (429, 'avanco_resources'), (430, 'cruz_del_sol'), (431, 'luminex_resources'), (432, 'instituto_de_seguridad_social_de_las_fuerzas_armadas'), (433, 'serabi_gold'), (434, 'mineracao_do_para'), (435, 'vale'), (436, 'cabral_gold'), (437, 'mineracao_iraja_sa'), (438, 'societe_miniere_yaoudorlin'), (439, 'reunion_gold'), (440, 'stronghold_guyana'), (441, 'kilroy_mining'), (442, 'aura_minerals'), (443, 'compagnie_miniere_esperance'), (444, 'newmont_corporation'), (445, 'meridian_mining'), (446, 'falcao_mineradora'), (447, 'macusani_yellowcake'), (448, 'cementos_selva'), (449, 'votorantim_metais'), (450, 'solitario_exploration'), (451, 'lucky_minerals'), (452, 'lundin_gold'), (453, 'winshear_gold'), (454, 'palamina'), (455, 'union_miniere_de_saul'), (456, 'reunion_gold'), (457, 'lara_exploration'), (458, 'centaurus_metals'), (459, 'the_simulus_group'), (460, 'centaurus_metals'), (461, 'g2_goldfields'), (462, 'bbx_minerals'), (463, 'meteoric_resources'), (464, 'troy_resources'), (465, 'u3o8_corporation'), (466, 'rio_tinto'), (467, 'cruz_del_sol'), (468, 'mmg_limited'), (469, 'citic_metal_co_ltd'), (470, 'guoxin_international_investment_co'), (471, 'cvg'), (472, 'rial_minera'), (473, 'lara_exploration'), (474, 'codelco_do_brasil_mineracao'), (475, 'equinox_gold'), (476, 'cosigo_resources'), (477, 'stonegate_agricom'), (478, 'tessarema_resources_inc'), (479, 'lara_exploration'), (480, 'orea_mining'), (481, 'iamgold'), (482, 'romanex_guyana_exploration'), (483, 'aura_minerals'), (484, 'newmont_corporation'), (485, 'staatsolie'), (486, 'norsk_hydro'), (487, 'ecuacorriente'), (488, 'meridian_mining'), (489, 'libero_copper'), (490, 'orea_mining'), (491, 'nordgold'), (492, 'goldmining'), (493, 'apoio_engenharia_e_mineracao'), (494, 'guyana_strategic_metals'), (495, 'greenpower_energy_limited'), (496, 'minera_irl'), (497, 'vale'), (498, 'luminex_resources'), (499, 'origen_group'), (500, 'rio_tinto'), (501, 'explorcobres'), (502, 'avanco_resources'), (503, 'centaurus_metals'), (504, 'lara_exploration'), (505, 'capstone_mining'), (506, 'solgold'), (507, 'wbd_gold'), (508, 'orea_mining'), (509, 'rio_blanco_copper'), (510, 'tempus_resources_limited'), (511, 'cementos_selva'), (512, 'iamgold'), (513, 'vale'), (514, 'societe_des_mines_de_saintelie'), (515, 'quimpac'), (516, 'vale'), (517, 'vale'), (518, 'hannan_metals'), (519, 'steinmar'), (520, 'altamira_gold'), (521, 'serabi_gold'), (522, 'goldmining'), (523, 'iamgold'), (524, 'staatsolie'), (525, 'colossus_minerals'), (526, 'cooperativa_de_mineracao_dos_garimpeiros_de_serra_pelada'), (527, 'corporacion_venezolana_de_mineria_cvm'), (528, 'gold_reserve'), (529, 'cvg'), (530, 'goldmining'), (531, 'luminex_resources'), (532, 'bhp_group'), (533, 'stratagold_guyana'), (534, 'aurania_resources'), (535, 'harvest_gold'), (536, 'solgold'), (537, 'brazauro_recursos_minerais'), (538, 'goldmining'), (539, 'goldmining'), (540, 'vale'), (541, 'alcoa_corporation'), (542, 'companhia_brasileira_de_aluminio'), (543, 'norsk_hydro'), (544, 'rio_tinto'), (545, 'south32'), (546, 'great_panther_mining_limited'), (547, 'soma_gold'), (548, 'anglo_american'), (549, 'horizonte_minerals'), (550, 'compania_minera_volcan'), (551, 'belo_sun_mining'), (552, 'solaris_resources'), (553, 'guyana_goldfields')]

In [22]:
# Create parent column
df['parent_org'] = [v for (k,v) in parent_list]

# Generate a column of random UUIDs
df['pid'] = [0] * len(df)
df['pid'] = [generate_random_id(6, df['pid']) for _ in range(len(df))]

df.head(10)

,project_name,sector_type,country,installed_capacity_mw,operational_status,owner,equity_stake_owner,equity_stake_operator,country_of_company_hq,company_type,company_type_for_label,is_operator,lender_type,substances,deal_type,parent_org,pid
0,ambrosia,hydropower,bolivia,84.9,permitting,empresa_electrica_corani,1.0,1.0,bolivia,soe,stateowned_enterprise,yes,multilateral_development_bank,nan,greenfield,ende,yrqfe4
1,banda_azul,hydropower,bolivia,146.0,permitting,empresa_electrica_corani,1.0,1.0,bolivia,soe,stateowned_enterprise,yes,foreign_development_bankfund,nan,greenfield,ende,zcera8
2,chojlla,hydropower,bolivia,37.0,in_operation,hidroelectrica_boliviana,1.0,1.0,bolivia,local_power_company,local_power_company,yes,nan,nan,greenfield,hidroelectrica_boliviana,q72ypq
3,corani,hydropower,bolivia,54.0,in_operation,empresa_electrica_corani,1.0,1.0,bolivia,soe,stateowned_enterprise,yes,multilateral_development_bank,nan,greenfield,ende,j5culn
4,ivirizu,hydropower,bolivia,279.8,under_construction,ende_valle_hermoso,1.0,0.0,bolivia,soe,stateowned_enterprise,no,nan,nan,greenfield,ende,f4rh3c
5,misicuni,hydropower,bolivia,185.5,in_operation,empresa_nacional_de_electricidad_ende,0.5,1.0,bolivia,soe,stateowned_enterprise,yes,multilateral_development_bank_multilateral_dev...,nan,greenfield,ende,tdzmhx
6,palillada,hydropower,bolivia,118.0,under_construction,empresa_electrica_corani,1.0,1.0,bolivia,soe,stateowned_enterprise,yes,nan,nan,greenfield,ende,sqqjkd
7,san_jose_cora,hydropower,bolivia,124.0,in_operation,empresa_electrica_corani,1.0,1.0,bolivia,soe,stateowned_enterprise,yes,multilateral_development_bank,nan,greenfield,ende,kd3nhv
8,santa_isabel_corani,hydropower,bolivia,93.4,in_operation,empresa_electrica_corani,1.0,1.0,bolivia,soe,stateowned_enterprise,yes,multilateral_development_bank,nan,greenfield,ende,bxz20c
9,umapalca,hydropower,bolivia,85.0,under_construction,empresa_electrica_corani,1.0,1.0,bolivia,soe,stateowned_enterprise,yes,nan,nan,greenfield,ende,it80of

In [23]:
# Fix sectory_type value for oil and gas
df['sector_type'] = df['sector_type'].str.replace('oil__gas', 'oil_gas')

## III. Geospatial Data

In [24]:
# Load coordinates dataset
hydro_coords = pd.read_excel(project_coords, sheet_name="Hydro")
oil_coords = pd.read_excel(project_coords, sheet_name="Oil & Gas")
mining_coords = pd.read_excel(project_coords, sheet_name="Mining")

print(hydro_df.shape, hydro_coords.shape)
print(oil_df.shape, oil_coords.shape)
print(mining_df.shape, mining_coords.shape)

(100, 14) (100, 3)
(302, 12) (302, 3)
(152, 13) (152, 3)

In [25]:
# Add sector_type column 
hydro_coords['sector_type'] = "hydropower"
oil_coords['sector_type'] = "oil_gas"
mining_coords['sector_type'] = "mining"

# Join the datasets
coords = pd.concat([hydro_coords, oil_coords, mining_coords], ignore_index=True)

In [26]:
# Normalize column headers
coords.columns = normalize_text_list(coords.columns.values, " ", "_", ''.join([s for s in string.punctuation if s != "_"]))

# Normalize values in project_name column
coords['project_name'] = normalize_text_list(coords['project_name'], " ", "_", ''.join([s for s in string.punctuation if s != "_"]))

coords.head()

         project_name  latitude  longitude sector_type
0             abanico  -2.25617  -78.19793  hydropower
1  afobaka_brokopondo   5.00000  -55.00000  hydropower
2            ambrosia -17.00910  -65.64090  hydropower
3      angel_i_ii_iii -13.66330  -70.53820  hydropower
4           anto_ruiz -13.88330  -70.20000  hydropower

In [27]:
# Create geometric points for each coordinate using GeoPandas
geo_coords = gpd.GeoDataFrame(coords, geometry=gpd.points_from_xy(coords['longitude'],coords['latitude']))
geo_coords.crs = {'init':'epsg:4326'}

In [28]:
geo_coords.head()

,project_name,latitude,longitude,sector_type,geometry
0,abanico,-2.25617,-78.19793,hydropower,POINT (-78.19793 -2.25617)
1,afobaka_brokopondo,5.00000,-55.00000,hydropower,POINT (-55.00000 5.00000)
2,ambrosia,-17.00910,-65.64090,hydropower,POINT (-65.64090 -17.00910)
3,angel_i_ii_iii,-13.66330,-70.53820,hydropower,POINT (-70.53820 -13.66330)
4,anto_ruiz,-13.88330,-70.20000,hydropower,POINT (-70.20000 -13.88330)

## IV. Save data as .CSV

In [29]:
save_df_as_csv(df, "../data/all_projects.csv")
save_df_as_csv(geo_coords, "../data/project_coords.csv")